<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Презентация</title>
</head>
<body>
    <div class="content">
        <img class="img-pres" src="/static/pres/Физика презентация.001.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.002.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.003.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.004.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.005.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.006.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.007.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.008.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.009.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.010.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.011.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.012.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.013.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.014.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.015.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.016.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.017.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.018.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.019.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.020.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.021.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.022.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.023.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.024.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.025.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.026.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.027.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.028.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.029.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.030.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.031.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.032.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.033.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.034.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.035.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.036.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.037.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.038.jpeg" alt="">
        <img class="img-pres" src="/static/pres/Физика презентация.039.jpeg" alt="">
    </div>
    <div class="next-button" onclick="location.replace('/')">Демонстрация</div>
</body>
</html>